<div class="input-component {{class}}">
    <label for="{{inputId}}" class="input-label">{{label}}</label>
    <input type="{{type}}" id="{{inputId}}" class="input-field" placeholder="{{placeholder}}" {{disabled}}>
</div>