<div class="img-card {{class}}" style="background: url({{bgSrc}})">
    <p class="img-card__text"> {{title}}
        <span class="img-card__text--sm">{{additional}}</span>
    </p>
    <p class="img-card__descr">{{descr}}</p>
</div>